<!-- logout.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Cerrar sesi칩n</title>
</head>
<body>
  <h1>Cerrar sesi칩n</h1>

  <!-- Contenido adicional de la p치gina de cierre de sesi칩n -->

</body>
</html>
