<h1>Página principal </h1>
	<% if logged_in? %>    
		<h1>Welcome <%= current_user.username %></h1>
	<%else%>
		<%= button_to "Login", '/login', method: :get%>
		<%= button_to "Sign Up", '/users/new', method: :get%>
	<%end%>
