<h1>Editing escultura</h1>

<%= render "form", escultura: @escultura %>

<br>

<div>
  <%= link_to "Show this escultura", @escultura %> |
  <%= link_to "Back to esculturas", esculturas_path %>
</div>
