<div class="content">
<p style="color: green"><%= notice %></p>

<h1>Esculturas</h1>

<div id="esculturas">
  <% @esculturas.each do |escultura| %>
    <%= render escultura %>
    <p>
      <%= link_to "Show this escultura", escultura %>
    </p>
  <% end %>
</div>

<%= link_to "New escultura", new_escultura_path %>
</div>
