<h1>Editing manualidad</h1>

<%= render "form", manualidad: @manualidad %>

<br>

<div>
  <%= link_to "Show this manualidad", @manualidad %> |
  <%= link_to "Back to manualidads", manualidads_path %>
</div>
